.container{
    width: 100vw;
    height: 6rem;
    position: absolute;
    margin: -3rem 0 0 -50%;
    top: 50%;
    left: 50%;
    text-align: center;

    img{
        display: block;
        height: 4rem;
        margin: 0 auto .5rem;
    }
    .sorry{
        font-size: .45rem;
        line-height: .68rem;
    }
    .goto{
        font-size: .4rem;
        line-height: .68rem;

        a{
            text-decoration: none;
            color: #0b72a4;
        }
    }

    p{
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }


}