.Notic{
    width: 100vw;
    height: 3.12rem;
    padding-bottom: 0.18rem;
    background: rgb(245, 245, 245);
    
    a{
        img{
            width: 100%;
            height: 100%;
        }
    }
}