.Household{
    width: 100%;

    .Household_Selected{
        height: 4.95rem;
        padding-bottom: 0.05rem;
        a{
            img{
                width: 100%;
                height: 4.90rem;
            }
        }
    }
    .Household_list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li{
            width: 50%;
            a{
                width: 100%;
                height: 4rem;
                .Household_list_pic{
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .Household_list_int{
                    padding: 0.64rem 0.12rem 0 0.32rem;
                    text-align: start;
                    p:nth-child(1){
                        line-height: 0.46rem;
                        font-size: 0.33rem;
                        color:rgb(33, 33, 33);
                    }
                    p:nth-child(2){
                        line-height: 0.36rem;
                        font-size: 0.25rem;
                        color:rgb(117, 117, 117);
                    }
                    p:nth-child(3){
                        margin-top: 0.2rem;
                        font-weight: bold;
                        font-size: 0.26rem;
                        color:rgb(234, 98, 91);
                        span{
                            font-size: 0.23rem;
                        }
                    }
                }
            }
        }
        
    }
    .Household_Moreprdu{
        width: 100%;
        height: 1.14rem;
        border-top: 0.01rem solid rgb(206, 206, 206);
        background: rgb(255, 255, 255);
        p{
            font-size: 0.32rem;
            line-height: 1.13rem;
            text-align: center;
            color: rgb(102, 102, 102);
        } 
    }
    
}