.banner{
    position: relative;
    height: 3.98rem;
    margin:0.02rem 0; 
    background: #ddd;
    overflow: hidden;
    
    ul{
        height: 100%;
        display: flex;

        li{
            width: 8rem;
            height: 100%;

            a{
                display: block;
                height: 100%;
                img{ 
                    width: 8rem;
                    height: 100%;
                } 
            }
        }
    }
    
    .swiper-pagination{
        position: absolute;
        left: 0;
        bottom: 0.1rem;
        z-index: 20;
        width: 100%;
        text-align: center;

        .swiper-pagination-bullet{
            display: inline-block;
            width: 0.2rem;
            height: 0.2rem;
            margin: 0 0.1rem;
            background: rgb(255, 255, 255);
            border-radius: 100%;
            
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
            background: #007aff;
        }
    }
}